@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  background: url(../prism/prism.png);
  background-size: auto;
}

.jumbotron {
  background: none;
}
